{
    "presets": [
        "es2015",
        "stage-2",
        "babel-polyfill"
    ],
    "plugins": [
        [
            "module-resolver", {
                "root": ["./"]
            }
        ]
    ]
}
